*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d8dbdd;
}


/* HEADER */

header{
    background-color: #203A88;
    color: white;
}

h1{
    margin-left: 17px;
    font-size: 25px;
    padding: 5px 0;
}

nav{
    padding: 4px 0;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 17px;
}


/* MAIN */

.hero{
    background-color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 30.4vh;
    text-align: center;
}

.seccion{
    background-color: white;
    margin: 24px 290px;
    padding: 18px 25px;
}

.seccion h4{
    color: #203A88;
    margin-bottom: 10px;
}

.seccion p{
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* FOOTER */
footer{
    background-color: #203A88;
    color: white;
    text-align: center;
    padding: 10px 0;
}